<div ng-controller="GliderCtrl">
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:40%">igc File</td>
      <td style="width:40%">Glider</td>
      <td style="width:20%"></td>
    </tr>
    <tr ng-repeat="glider in gliders">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="glider.igc" e-name="igc" e-form="rowform" e-required>
          {{ glider.igc }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-text="glider.name" e-name="name" e-form="rowform" e-required>
          {{ glider.name }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == glider">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removeGlider($index)">del</button>
        </div>
      </td>
    </tr>
  </table>

  <button class="btn btn-default" ng-click="addGlider()">Add row</button>
</div>
